<header>
    <a href="/checkout"><div class="pull-right"><span class="glyphicon glyphicon-shopping-cart"> Cart</div></a>
</header>
<body>
    <div class="jumbotron no-background">
        <div class="container">
            <h1>Your Shopping Cart</h1>
        </div>
    </div>
    <div class="row">
    </div>
</body>
