<header>
    <a href="/checkout"><div class="pull-right"><span class="glyphicon glyphicon-shopping-cart"> Cart</div></a>
</header>
<body>
    <div class="jumbotron no-background">
        <div class="container">
            <h1>Your Shopping Cart</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-6 col-md-8">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Your cart currently contains:</h3>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</body>
