<body>
  <div class="jumbotron no-background">
    <div class="container">
      <h1>Order Completed</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-md-2"></div>
    <div class="col-sm-8 col-md-8">
      <div class="thumbnail">
        <div class="caption">
          <h3>Your order was submitted successfully!</h3>
          <p>Your order will arrive in approximately one galactic year.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-md-2"></div>
  </div>
</body>
