<h1>Hey there,</h1>
<p>
  I just thought you should know, someone bought some of your soda.
  You should probably get off of your butt and ship it.
  <br>
</p>
<p>
  Here is their information: <%= @params %>.
</p>
<p>Have a good day you handsome devil.</p>
